/* @import "tailwindcss"; */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: #ff4f29;
    --color-secondary: #292c33;
    --color-secondary-background: #F8F9FB;
    --color-secondary-foreground: #FFFFFF;
    --color-secondary-icon: #808080;
    --color-secondary-text: #737580;
    --color-secondary-text-disabled: #D9D9D9;
  }
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color: #213547; */
  /* background-color: #ffffff; */

  /* font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

body {
  margin: 0;
  /* display: flex;
  place-items: center; */
  min-width: 320px;
  min-height: 100vh;
}
